@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
html, body {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    
}

.logo {
    margin-right: 9px;
}

.cargando {
    margin-top: 23%;
    margin-left: 40%;
}

.main-logo {
    height: 20%;
}

.nav-bar {
    background: rgba(0, 0, 0, 0.88);
}

.navbar .navbar-collapse {
    text-align: center;
}

.nav-link:hover{
    background-color: rgb(78, 78, 78);
}
.contacto-a{
    background-color: rgba(228, 22, 22, 0.801);
}

.map{
    width: 100%;
    height:480px;
}

.link{
    text-decoration: none;
    color: white;
}
.link:hover{
    text-decoration: none;
    color: black;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.88);
}
